<section class="content-header">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-sm btn-primary pull-right" (click)="detail()">New</button>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <grid-control [option]="gridOption" #grid></grid-control>
    </div>
  </div>
</section>
<modal-control [title]="entity.Id?'Chỉnh sửa người dùng':'Tạo mới người dùng'" #modal>
  <modal-body>
    <div class="row">
      <div class="col-sm-6">
        <span class="eml-label">Họ</span>
        <input class="form-control" [(ngModel)]="entity.LastName">
      </div>
      <div class="col-sm-6">
        <span class="eml-label">Tên</span>
        <input class="form-control" [(ngModel)]="entity.FirstName">
      </div>
      <div class="col-sm-6">
        <span class="eml-label">Tên đăng nhập</span>
        <input class="form-control" [(ngModel)]="entity.Username">
      </div>
      <div class="col-sm-6">
        <span class="eml-label">Mật khẩu</span>
        <input type="password" class="form-control" [(ngModel)]="entity.HashedPassword">
      </div>
      <div class="col-sm-6">
          <span class="eml-label">Vai trò</span>
          <select class="form-control" [(ngModel)]="entity.RoleId">
            <option *ngFor="let role of roles" [value]="role.Id">{{role.Name}}</option>
          </select>
        </div>
      <div class="col-sm-12">
        <span class="eml-label">Ghi chú</span>
        <textarea class="form-control" [(ngModel)]="entity.Description"></textarea>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-primary btn-sm" (click)="save()">
      <i class="fa fa-floppy-o"></i> Save</button>
    <button class="btn btn-secondary btn-sm" (click)="modal.close()">
      <i class="fa fa-times"></i> Cancel</button>
  </modal-footer>
</modal-control>