/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cdk-overlay-container{
    z-index: 10000;
}

.eml-label {
    color: rgba(0, 107, 139, 1);
    font-weight: 500;
    text-transform: uppercase;
}